<div class="container">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-6">
				<h1>Editando Question</h1>
			</div>
		</div>
	</div>

	<%= render 'form', question: @question %>

	<div class="col-md-12">
		<div class="row">
			<div class="col-md-6 text-right">
				<%= link_to 'Voltar', @quizz  %>
			</div>
		</div>
	</div>
</div>