<p id="notice"><%= notice %></p>

<p>
  <h1><span class="text-muted">Type: </span><%= @type.description %></h1>
</p>
<p>
  <strong>Emoji:</strong>
  <%= @type.image %>
</p>

<p class="text-right">
	<%= link_to 'Back', types_path %>
</p>