<div class="container">
	<p id="notice"><%= notice %></p>

	<h3>Suas Respostas </h3>

	<% @answer.questions.each %>
	<p>
	  <strong>Pergunta:</strong>
	  <%= @answer.question.description %>
	</p>

	<p>
	  <strong>Alternativa escolhida:</strong>
	  <%= @answer.choice.description %>
	</p>


	<%= link_to 'Voltar', questions_path %>
</div>
