<div class="nested-fields row">
	<div class="field col-md-5">
  	  <%= f.text_field :description, :class=>'form-control col-md-12' %>
  	</div>
  	<div class="col-md-1">
  		<%= link_to_remove_association('Remover',f) %>
  	</div>
</div>